{% extends "index.html" %}

{% block title %}{{ page.title | safe }}{% endblock %}

{% block content %}
<div class="header">
    <img src="{{ page.extra.image }}" alt="{{ page.extra.image_alt }}">
    <div class="headertext container">
        <div class="large">{{ page.extra.large }}</div>
        <div class="small">{{ page.extra.small }}</div>
    </div>
</div>

<div class="content container sidepanel">
    <main>
        {{ page.content | safe }}
    </main>
    <aside>
        <h3>Our Services</h3>
        <div class="sidelinks">
            {%- set service = get_section(path="service/_index.md") -%}
            {%- for p in service.pages %}
            <a href="{{ p.permalink}}">{{ p.title }}</a>
            {% endfor %}
        </div>
    </aside>
</div>
{% endblock %}